<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Validation</title>
</head>
<body>
    <h1>JSON Validator Engine</h1>
    <p>Masukkan JSON Response Anda !</p>
    <form action="/merchant/validateAndSave" method="POST">
        <textarea name="jsonData" id="jsonData" rows="10" cols="100" placeholder="Masukkan JSON string"></textarea>
        <br>
        <button style="margin: 20px; padding: 10px;" type="submit">Validate JSON</button>
        <button style="margin: 20px; padding: 10px;" type="button">CLEAR</button>
        <br>
    </form>
</body>
</html>
